<div id="<%= dom_id client %>">
<tr>
<th scope= "row"><%= client.id %></th>
<th><%= client.name %></th>
<td><%= client.age %></td>
<td><%= client.movies.last.name if client.movies.any?  %></td>



<td type= "button", class= "btn btn-dark"><%= link_to "Edit this client", edit_client_path(client) %></td>
<td type= "button", class= "btn btn-dark"><%= link_to "Show this client", client %></td>
<td type= "button", class= "btn btn-dark"><%= button_to "Destroy this client", @client, method: :delete %></td>
</tr>

</div>
