<div id="<%= dom_id client %>">
<tr>
<th scope= "row"><%= client.id %></th>
<th><%= client.name %></th>
<td><%= client.age %></td>

  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= client.age %>
  </p>
<p>
    <strong>Movie:</strong>
    <%= client.movies.name %>
  </p>


</div>
